.bg-custom-new {
    background-color: #e6e9e9;
}

/* .fixfooter{

    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
